@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Situatia Adoptiilor din Romania</h1>
    <p class="lead">Aceasta este platforma dedicata gestiunii adoptiilor din Romania.</p>
    <img src="/images/poza_proiect_bia.jpg" alt="Imagine familie" class="img-fluid" />
</div>
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

